---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Auto Keys Shop - Согласие на обработку персональных данных">
  <main>
    <h2>Согласие на обработку персональных данных</h2>
    <ol>
      <li>Цели обработки данных</li>
      <br />
      Мои персональные данные могут быть обработаны для следующих целей:
      <br />

      <ul>
        <li>Обработка и выполнение моих заказов.</li>
        <li>Улучшение качества услуг и пользовательского опыта.</li>
        <li>
          Связь со мной для предоставления информации о статусе заказа и новых
          предложениях.
        </li>
        <li>
          Проведение маркетинговых исследований и анализ пользовательского
          опыта.
        </li>
      </ul>
      <br /><br />
      <li>Перечень персональных данных</li>
      <br />
      Я согласен на обработку следующих персональных данных:
      <ul>
        <li>ФИО</li>
        <li>Контактный телефон</li>
        <li>Адрес электронной почты</li>
        <li>Адрес проживания (если необходимо для выполнения заказа)</li>
      </ul>
      <br /><br />
      <li>Срок действия согласия</li>
      <br />
      Мое согласие на обработку персональных данных действительно до момента его
      отзыва. Я могу в любой момент отозвать своё согласие, уведомив о своем решении
      Компанию по контактной информации, указанной на её сайте.
      <br /><br />
      <li>Передача данных третьим лицам</li>
      <br />
      Я осознаю, что Компания имеет право передавать мои персональные данные третьим
      лицам только для выполнения условий обслуживания (например, третьим лицам,
      предоставляющим услуги доставки) и в соответствии с требованиями законодательства.
      <br /><br />
      <li>Запрос на доступ к данным</li>
      <br />
      Я имею право на доступ к своим персональным данным, а также на их изменение
      или удаление в соответствии с действующим законодательством.
    </ol>
  </main>
</Layout>

<style>
  ol > li {
    font-weight: 700;
  }
  main {
    max-width: 800px;
    width: 100%;
    margin: auto;
  }
</style>
