---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Auto Keys Shop - Политика конфиденциальности">
	<main>
		<h2>
            Политика конфиденциальности
        </h2>
        <ol>
            <li>Сбор информации</li>
                <br>
                Мы можем собирать информацию о вас различными способами, включая:
                <br>
                <ul>
                    <li>Личную информацию: Имя, адрес, номер телефона, адрес электронной почты и другую информацию, которую вы предоставляете при регистрации или заказе услуг.</li>
                    <li>Неперсональную информацию: Данные о вашем устройстве, браузере, времени доступа, IP-адресе и другие данные, которые не позволяют идентифицировать вас как личность.</li>
                </ul>

            <li>Использование информации</li>
                <br>
                Мы можем использовать собранную информацию для:
                <br>
                <ul>
                    <li>Обработки и выполнения ваших заказов.</li>
                    <li>Улучшения качества наших услуг и пользовательского опыта.</li>
                    <li>Связи с вами для информирования о статусе заказа или для предоставления информации о новых услугах.</li>
                    <li>Проведения маркетинговых исследований и улучшения наших рекламных материалов.</li>
                    <li>Выполнения требований законодательства.</li>
                </ul>
                <br>
            <li>Защита информации</li>
                <br>
                Мы принимаем разумные меры для защиты вашей информации от несанкционированного доступа, использования или раскрытия. Мы используем различные технологии и организационные меры безопасности для защиты информации, хранящейся на нашем сайте.
                <br>
                <br>
            <li>Раскрытие информации третьим лицам</li>
                <br>
                Мы не продаем, не обмениваем и не передаем вашу личную информацию третьим лицам, за исключением случаев, когда это необходимо для выполнения ваших запросов (например, передача данных платежной системе) или в соответствии с требованиями законодательства.
                <br>
                <br>
            <li>Cookies</li>
                <br>
                Наш сайт может использовать файлы cookies для повышения удобства пользователя. Вы можете настроить ваш браузер на отказ от файлов cookies или уведомление вас, когда они отправляются. Однако, если вы отключите файлы cookies, это может повлиять на корректность работы нашего сайта.
                <br>
                <br>
            <li>Ссылки на сторонние ресурсы</li>
                <br>
                Наш сайт может содержать ссылки на сторонние ресурсы. Мы не несем ответственности за содержание или политику конфиденциальности этих ресурсов. Рекомендуем ознакомиться с политикой конфиденциальности каждого сайта, который вы посещаете.
                <br>
                <br>
            <li>Изменения в политике конфиденциальности</li>
                <br>
                Мы можем время от времени обновлять настоящую Политику конфиденциальности. Мы уведомим вас о любых изменениях, опубликовав обновленную Политику на нашем сайте. Рекомендуем периодически просматривать эту страницу для получения актуальной информации о нашей политике.
                <br>
                <br>
            <li>Контактная информация</li>
                <br>
                Если у вас есть вопросы или комментарии по поводу нашей Политики конфиденциальности, пожалуйста, свяжитесь с нами по адресу: Ваш контактный email или по телефону: Ваш контактный номер.
            
        </ol>
	</main>
</Layout>

<style>
    ol > li {
        font-weight: 700;
    }
    main{
        max-width: 800px;
        width: 100%;
        margin: auto;
    }
</style>